@page "/Bookings/create"
@inject IBookingService BookingService;
@inject IFlexibilityService FlexibilityService;
@inject IVehicleSizeService VehicleSizeService;
<div class="row">
    <div class="col-lg-9">
        <h1>Create A New Booking</h1>
    </div>
        <div class="col-lg-3 text-right">
            <a class="btn btn-secondary btn-sm" href="/bookings" role="button">Go Back To Bookings</a>
        </div>
</div>
@code {

}
