@page "/"

<PageTitle>DJ Valeting</PageTitle>
<div  style="margin-top: 20px">
<h1>Booking Application</h1>
</div>
<div  style="margin-top: 20px">
Welcome to DJ Valeting booking application 
</div>
<div  style="margin-top: 20px">
Please log in for admin options use the booking option to start booking
</div>

